@import "~knacss/css/knacss-unminified.css";
@import "~nes.css/css/nes.min.css";

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P", sans-serif;
}

h1 {
    font-size: 2.6rem;
}

a:hover, a:focus {
    text-decoration: none;
}

[type="text"], [type="submit"] {
    -webkit-box-shadow: 0 0 0 0 #333 inset;
    box-shadow: 0 0 0 0 #333 inset;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.chat {
    display: block;
}

#game {
    height: 93vh;
}

#game canvas {
    margin: 0 auto;
}

canvas {
    width: auto !important;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.nes-dialog {
    position: absolute;
    top: 20vh;
}

.nes-icon {
    margin-bottom: 0;
}
